h1 {
    font-family: Helvetica;
    text-align: center;
}

body {
    background-color: rgb(187, 187, 187);
    font-family: Verdana, sans-serif;
}

a {
    color: blue;
    font-style: italic;
}

img {
    width: 400px;
    height: auto;
    border-style: outset;
}
